html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul,li { list-style: none; }
ul { margin: 0; padding: 0; }

$icons: (pen, eraser, undo, redo, save, clear);
$colors: (black, blue, red, green, white);

.stage {
  height: 100%;
  margin-right: 88px;
  touch-action: none;
  user-select: none;
}

.icon {
  cursor: pointer;
  &:hover {
    transition: all 0.1s;
    transform: scale(1.2);
    background-color: #ffffff;
    box-shadow: rgb(255, 255, 255) 0px 0px 16px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
}

.hl {
  background-color: #ffffff;
}

@each $icon in $icons {
  .icon-#{$icon} {
    background: url("~@/images/#{$icon}.png") center/32px no-repeat;
  }
}

@each $color in $colors {
  .color-#{$color} {
    background-color: $color;
  }
}

.settings {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 88px;
  overflow: hidden;
  background-color: rgb(221, 221, 221);
  border-left: 1px solid rgb(187, 187, 187);
  user-select: none;
  touch-action: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    width: 40px;
    height: 40px;
    & ~ li {
      margin-top: 22px;
    }
  }
}

.pickers {
  left: 20px;
  label {
    display: block;
    font-weight: 600;
    &:last-of-type {
      margin-top: 20px;
    }
  }
  button {
    // width: 40px;
    // height: 40px;
    // border: 1px solid #000000;
    &:last-of-type {
      margin-top: 20px;
    }
  }
}
